:root {
   --bg1: #a0e7e5;
   --bg2: #feaba1;
   --bg3: #ff84c1;
   --bg4: #b0b9ff;
   --bg5: #9787c0;
   --bg6: #c6b28b;
   --bg7: #f4c197;
   --bg8: #d2adfc;
   --bg9: #e3ecaf;
   --bg10: #ffd290;
   --bg11: #ace49e;
   --bg12: #b2be83;
   --bg13: #95d7ee;
   --bg14: #cee4d5;
   --bg15: #df94da;
   --bg16: #c0f889;
   --bg17: #92fff9;
   --bg18: #97b9ce;
   --bg19: #ffe8a6;
   --bg20: #bdecd5;
   --white: #fff;
   --light-gray: #ddd;
   --gray: #999;
   --light-black: #444;
   --black: #000;
   --correct-green: #00d100;
   --wrong-red: #cd001a;
   --bar-width: 100%;
   --clear-black: rgba(0, 0, 0, 0.4);
}

/* width */
::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background-color: var(--black);
   border-radius: 2.5px;
}

@font-face {
   font-family: NexaRustSans;
   src: url("../assets/fonts/nexa-rust.sans-black.otf");
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "NexaRustSans", sans-serif;
}

button {
   border: none;
   background: none;
   cursor: pointer;
}

ul {
   list-style-type: none;
}

.sp-ch {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   display: inline-block;
   font-weight: bold;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   position: relative;
}

body > * {
   flex-grow: 1;
}

#game-container {
   position: absolute;
   height: 100%;
   width: 100%;
   aspect-ratio: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bg1 {
   background-color: var(--bg1);
}

.bg2 {
   background-color: var(--bg2);
}

.bg3 {
   background-color: var(--bg3);
}

.bg4 {
   background-color: var(--bg4);
}

.bg5 {
   background-color: var(--bg5);
}

.bg6 {
   background-color: var(--bg6);
}

.bg7 {
   background-color: var(--bg7);
}

.bg8 {
   background-color: var(--bg8);
}

.bg9 {
   background-color: var(--bg9);
}

.bg10 {
   background-color: var(--bg10);
}

.bg11 {
   background-color: var(--bg11);
}

.bg12 {
   background-color: var(--bg12);
}

.bg13 {
   background-color: var(--bg13);
}

.bg14 {
   background-color: var(--bg14);
}

.bg15 {
   background-color: var(--bg15);
}

.bg16 {
   background-color: var(--bg16);
}

.bg17 {
   background-color: var(--bg17);
}

.bg18 {
   background-color: var(--bg18);
}

.bg19 {
   background-color: var(--bg19);
}

.bg20 {
   background-color: var(--bg20);
}

#main-menu {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   transition: height 1s ease-out, opacity 0.3s, visibility 0.3s;
   height: 200px;
}

#main-menu.hide {
   opacity: 0;
   visibility: hidden;
   position: absolute;
}

#main-menu.grow {
   height: 450px;
}

#main-menu #title-container {
   width: min-content;
   position: relative;
   padding: 20px;
   color: var(--white);
   border-radius: 4px;
}

#main-menu #title-container.change-color {
   animation: 1s change-color forwards 3.2s;
}

@keyframes change-color {
   0% {
      background-color: none;
      color: var(--white);
   }
   100% {
      background-color: var(--white);
      color: var(--black);
   }
}

#main-menu #title-container div {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#main-menu #title-container:after,
#main-menu #title-container:before,
#main-menu #title-container div:after,
#main-menu #title-container div:before {
   content: "";
   display: block;
   position: absolute;
   background-color: var(--black);
   border-radius: 4px;
}

#main-menu #title-container:before {
   top: 0;
   left: 0;
   height: 8px;
}

#main-menu #title-container.animate-border:before {
   animation: 0.3s increase-width forwards 3s;
}

#main-menu #title-container:after {
   top: 0;
   right: 0;
   width: 8px;
}

#main-menu #title-container.animate-border:after {
   animation: 0.3s increase-height forwards 3.2s;
}

#main-menu #title-container div:before {
   bottom: 0;
   right: 0;
   height: 8px;
}

#main-menu #title-container.animate-border div:before {
   animation: 0.3s increase-width forwards 3.4s;
}

#main-menu #title-container div:after {
   left: 0;
   bottom: 0;
   width: 8px;
}

#main-menu #title-container.animate-border div:after {
   animation: 0.3s increase-height forwards 3.6s;
}

@keyframes increase-width {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}

@keyframes increase-height {
   0% {
      height: 0;
   }
   100% {
      height: 100%;
   }
}

#main-menu #title-container #slogan {
   font-size: 20px;
   line-height: 20px;
   opacity: 0;
}

#main-menu #title-container #slogan.animate {
   animation: 1s bounce-down forwards 0.8s;
}

@keyframes bounce-down {
   0% {
      transform: translateY(-80px);
      opacity: 0;
   }
   33% {
      transform: translateY(0);
   }
   66% {
      transform: translateY(-10px);
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

#main-menu #title-container #slogan.animate .sp-ch {
   animation: 1s rotate-in forwards 2s;
   opacity: 0;
}

@keyframes rotate-in {
   0% {
      transform: translateX(150px) rotate(0deg);
   }
   33% {
      transform: translateX(0);
   }
   66% {
      transform: translateX(15px);
   }
   100% {
      transform: translateX(0) rotate(360deg);
      opacity: 1;
   }
}

#main-menu #title-container #title {
   font-size: 75px;
   line-height: 70px;
}

#main-menu #title-container #title span {
   display: block;
   opacity: 0;
}

#main-menu #title-container #title.animate span:nth-child(1) {
   animation: 0.8s bounce-in forwards;
}

#main-menu #title-container #title.animate span:nth-child(2) {
   animation: 0.8s bounce-in forwards 0.5s;
}

@keyframes bounce-in {
   0% {
      transform: translateX(200px);
      opacity: 0;
   }
   33% {
      transform: translateX(0);
   }
   66% {
      transform: translateX(20px);
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

#main-menu #play-btn {
   height: 135px;
   width: 135px;
   border-radius: 50%;
   position: absolute;
   opacity: 0;
   transition: opacity 1s, transform 0.4s;
   pointer-events: none;
}

#main-menu #play-btn.show {
   position: relative;
   opacity: 1;
   pointer-events: all;
}

#main-menu #play-btn.show:hover {
   transform: scale(1.05);
}

#main-menu #play-btn > * {
   height: 100%;
   width: 100%;
   pointer-events: none;
}

#main-menu #play-btn #play-btn-svg-vivus.remove {
   display: none;
}

#main-menu #play-btn #play-btn-svg {
   opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
}

#main-menu #play-btn #play-btn-svg.show {
   opacity: 1;
}

#game-modes {
   visibility: hidden;
   position: absolute;
   opacity: 0;
   transition: opacity 0.3s, visibility 0.3s;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 225px;
}

#game-modes.show {
   visibility: visible;
   opacity: 1;
   position: static;
}

#game-modes.hide {
   opacity: 0;
   visibility: hidden;
   position: absolute;
}

.header {
   background-color: var(--white);
   border: 8px solid var(--black);
   border-radius: 4px;
   padding: 10px;
   font-size: 30px;
}

#mode-btns-container {
   display: flex;
   justify-content: space-between;
   width: 600px;
}

#mode-btns-container button {
   font-size: 20px;
   border: 8px solid rgba(0, 0, 0, 0);
   border-radius: 4px;
   padding: 4px 10px;
   transition: 0.2s;
   width: 190px;
   opacity: 0;
}

#mode-btns-container button:hover {
   background-color: var(--white);
   border: 8px solid var(--black);
}

#game-modes.show button {
   animation: 1s pop-in forwards;
}

@keyframes pop-in {
   0% {
      opacity: 0;
      transform: scale(0.8);
   }
   50% {
      transform: scale(1.05);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

#game-modes #classic {
   animation-delay: 0.2s;
}

#game-modes #countdown {
   animation-delay: 0.4s;
}

#game-modes #adventure {
   animation-delay: 0.6s;
   margin-bottom: 0px;
}

#game-modes #home-btn {
   background-image: url("../assets/imgs/home.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   height: 55px;
   width: 55px;
   position: fixed;
   bottom: 30px;
   left: 30px;
}

#categories-container {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   transition: opacity 0.3s, visiblity 0.3s;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#categories-container.show {
   opacity: 1;
   visibility: visible;
   position: static;
}

#categories-container .header {
   margin-bottom: 70px;
}

#category-selector-container {
   position: relative;
   padding: 5px 10px;
   width: max-content;
}

#category-selector-container #category-selector {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   font-size: 24px;
   margin-bottom: 70px;
}

#category-selector-container #category-selector #down-arrow {
   width: 20px;
   transition: 0.3s;
   margin-right: 25px;
}

#category-selector-container.open #category-selector #down-arrow {
   transform: rotate(180deg);
}

#category-selector-container #categories {
   position: absolute;
   overflow-y: scroll;
   max-height: 190px;
   top: 0;
   opacity: 0;
   pointer-events: none;
   transition: 0.3s;
   z-index: 0;
   left: 50%;
   transform: translateX(-50%);
}

#category-selector-container.open #categories {
   opacity: 1;
   pointer-events: all;
   top: 40px;
}

#category-selector-container #categories li {
   margin-bottom: 6px;
   font-size: 15px;
   text-align: center;
   cursor: pointer;
}

#category-selector-container #categories li:hover {
   color: var(--white);
}

#category-selector-container #categories li:last-child {
   margin: 0;
}

#categories-container #check-mark-btn {
   background-image: url("../assets/imgs/check-mark.svg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 110px;
   width: 110px;
   transition: transform 0.3s;
}

#categories-container #check-mark-btn:hover {
   transform: scale(1.05);
}

#categories-container #check-mark-btn.hide {
   transform: scale(0);
   pointer-events: none;
}

#levels-container {
   position: absolute;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s, visibility 0.3s;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   padding: 100px;
}

#levels-container.show {
   opacity: 1;
   visibility: visible;
   position: static;
}

#levels-container #level-grid {
   flex-grow: 1;
   width: 100%;
   margin-top: 40px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
   gap: 20px;
   align-items: center;
   overflow-y: auto;
   padding-right: 10px;
}

#level-grid .level {
   width: 100%;
   height: auto;
   aspect-ratio: 1;
   border-radius: 5%;
   background-color: var(--black);
   color: #fff;
   mix-blend-mode: multiply;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: calc(5px + 1vw);
   cursor: pointer;
   transition: 0.2s opacity;
   pointer-events: none;
   opacity: 0.25;
}

 #levels-container.show #level-grid .level {
   transform: scale(0);
   animation: 0.4s scale-in ease-out forwards;
}

@keyframes scale-in {
   0% {
      transform: scale(0);
   } 100% {
      transform: scale(1);
   }
}

#level-grid .level.open {
   pointer-events: all;
   opacity: 1;
}

#level-grid .level:hover {
   opacity: 0.8;
   font-size: calc(8px + 1vw);
}

#level-details {
   display: flex;
   justify-content: space-between;
   padding: 45px 0;
   align-items: center;
   flex-direction: column;
   position: absolute;
   opacity: 0;
   visibility: hidden;
   height: 500px;
   width: 450px;
   background-color: var(--white);
   transition: 0.3s opacity, 0.3s visibility;
   border-radius: 4px;
   border: 8px solid var(--black);
}

#level-details.show {
   position: static;
   opacity: 1;
   visibility: visible;
}

#level-details > div {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

#level-details #difficulty-container {
   display: flex;
   align-items: center;
}

#difficulty-container #difficulty {
   margin-left: 10px;
}

#difficulty-container #difficulty img {
   display: none;
}

#difficulty-container #difficulty.easy img:nth-child(1) {
   display: inline-block;
}

#difficulty-container #difficulty.medium img:nth-child(1),
#difficulty-container #difficulty.medium img:nth-child(2) {
   display: inline-block;
}

#difficulty-container #difficulty.hard img:nth-child(1),
#difficulty-container #difficulty.hard img:nth-child(2),
#difficulty-container #difficulty.hard img:nth-child(3) {
   display: inline-block;
}

#level-details #level-play-btn {
   width: 80px;
}

#level-details #level-play-btn svg {
   height: 100%;
   width: 100%;
}

#level-details #level-play-btn:hover svg g path {
   fill: var(--black) !important;
}

#back-btn {
   background-image: url("../assets/imgs/arrow.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   height: 55px;
   width: 55px;
   position: fixed;
   bottom: 30px;
   left: 30px;
   opacity: 0;
   visibility: hidden;
   transition: 0.3s;
}

#back-btn.show {
   visibility: visible;
   opacity: 1;
}

#trivia-container {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: 0.3s opacity, 0.3s visibility, 0.2s height;
   display: flex;
   flex-direction: column;
   z-index: -5;
   width: 600px;
   max-width: 600px;
}

#trivia-container.show {
   position: static;
   visibility: visible;
   opacity: 1;
   z-index: auto;
}

#trivia-container #question-container {
   background-color: var(--white);
   border: 8px solid var(--black);
   border-radius: 4px;
   padding: 10px;
   min-height: 90px;
   display: flex;
   align-items: center;
   transition: opacity 0.3s;
}

#trivia-container #question-container.hide {
   visibility: visible;
   opacity: 0;
}

#trivia-container #question-container #question {
   font-size: 20px;
   text-align: center;
   width: 100%;
}

#trivia-container .answers {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: 0.3s opacity, 0.3s visibility;
   margin-top: 50px;
   flex-basis: 100%;
}

#trivia-container .answers.show {
   position: static;
   visibility: visible;
   opacity: 1;
}

#trivia-container .answers.hide {
   opacity: 0;
}

#trivia-container #multiple-answers {
   display: grid;
   gap: 30px;
   max-width: 600px;
}

#trivia-container button {
   pointer-events: all;
   transition: background-color 0.3s;
   background-color: var(--white);
}

#trivia-container button.no-pointer-events {
   pointer-events: none;
}

#trivia-container button.correct {
   background-color: var(--correct-green) !important;
}

#trivia-container button.wrong {
   background-color: var(--wrong-red) !important;
}
#trivia-container button.correct,
#trivia-container button.wrong {
   color: var(--white);
}

#trivia-container button:hover {
   outline: 4px solid var(--black);
}

#trivia-container #multiple-answers button {
   opacity: 0;
   word-break: break-word;
   white-space: normal;
   font-size: 15px;
   border-radius: 5px;
   padding: 10px;
}

#trivia-container #multiple-answers.show button {
   animation: 1s pop-in forwards;
}

#trivia-container #multiple-answers button:nth-of-type(1) {
   animation-delay: 0.1s;
}

#trivia-container #multiple-answers button:nth-of-type(2) {
   animation-delay: 0.2s;
}

#trivia-container #multiple-answers button:nth-of-type(3) {
   animation-delay: 0.3s;
}

#trivia-container #multiple-answers button:nth-of-type(4) {
   animation-delay: 0.4s;
}

#trivia-container #boolean-answers {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

#trivia-container #boolean-answers button {
   opacity: 0;
}

#trivia-container #boolean-answers.show button {
   animation: 1s pop-in forwards;
}

#trivia-container #boolean-answers button:nth-of-type(1) {
   animation-delay: 0.2s;
}

#trivia-container #boolean-answers button:nth-of-type(2) {
   animation-delay: 0.4s;
}

#trivia-container #boolean-answers button {
   font-size: 18px;
   border-radius: 5px;
   padding: 30px 0;
}

#trivia-container #score {
   position: fixed;
   top: 150px;
   right: 150px;
   font-size: 45px;
}

#trivia-container #timer-bar {
   transition: opacity 0.5s, visibility 0.5s;
   opacity: 0;
   visibility: hidden;
   height: 35px;
   position: fixed;
   left: 50%;
   bottom: 50px;
   width: 700px;
   transform: translate(-50%);
   border: 4px solid var(--black);
   display: flex;
   align-items: center;
   justify-content: center;
}

#trivia-container #timer-bar.show {
   opacity: 1;
   visibility: visible;
}

#timer-bar #time {
   color: var(--black);
   font-size: 20px;
}

#timer-bar #bar {
   position: absolute;
   left: 0;
   height: 100%;
   width: var(--bar-width);
   background-color: var(--white);
   z-index: -1;
   transition: width 1s linear;
}

#timer-bar #time-added {
   position: absolute;
   color: var(--correct-green);
   top: -100%;
   left: 50%;
   transform: translateX(-50%);
   opacity: 0;
}

#timer-bar #time-added.show {
   animation: 1.5s show-time-added;
}

@keyframes show-time-added {
   0% {
      opacity: 0;
      transform: translateX(-50%) scale(2);
   }
   25% {
      opacity: 1;
      transform: translateX(-50%) scale(1);
   }
   75% {
      opacity: 1;
      transform: translateX(-50%) scale(1);
   } 100% {
      opacity: 0;
      transform: translateX(-50%) scale(2);
   }
}

#game-finish {
   height: 500px;
   width: 500px;
   opacity: 0;
   visibility: hidden;
   position: absolute;
   transition: 0.3s opacity, 0.3s visibility;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 400px auto;
   gap: 30px;
}

#game-finish.show {
   opacity: 1;
   visibility: visible;
   position: static;
}

#game-finish .game-stats {
   grid-column: 1/3;
   background-color: var(--white);
   border-radius: 4px;
   border: 8px solid var(--black);
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#game-finish.classic .game-stats.classic {
   display: flex;
   gap: 30px;
}

.game-stats.classic h2:nth-of-type(2)  {
   font-size: 80px;
}

#game-finish.countdown .game-stats.countdown {
   display: flex;
   gap: 20px;
}

#game-finish.countdown .game-stats.countdown div {
   font-size: 20px;
}

#questions-wrong {
   color: var(--wrong-red);
}

#final-score {
   color: var(--correct-green);
}

.sub {
   font-size: 10px;
}

#game-finish.adventure .game-stats.adventure {
   display: flex;
   gap: 40px;
}

#game-finish.adventure .game-stats.adventure > * {
   text-align: center;
}

#level-result-mssg {
   font-size: 30px;
}

#num-questions-to-pass-mssg {
   font-size: 15px;
   font-style: italic;
}

#game-finish.adventure.passed .game-stats.adventure #level-result-mssg {
   color: var(--correct-green);
}

#game-finish.adventure.failed .game-stats.adventure #level-result-mssg {
   color: var(--wrong-red);
}

#game-finish.adventure.passed .game-stats.adventure #num-questions-to-pass-mssg {
   display: none;
}

#game-finish button {
   border-radius: 4px;
   color: var(--white);
   border: 3px solid var(--black);
   font-size: 16px;
}

#game-finish button:hover {
   opacity: 0.85;
}

#game-finish #quit-btn {
   background-color: var(--wrong-red);
}

#game-finish #play-again-btn {
   background-color: var(--correct-green);
}

#game-finish #next-level-btn,
#game-finish #try-again-btn {
   background-color: var(--correct-green);
   display: none;
}

#game-finish.adventure #play-again-btn {
   display: none;
}

#game-finish.adventure.passed #next-level-btn {
   display: block;
}

#game-finish.adventure.failed #try-again-btn {
   display: block;
}

#game-btns {
   position: absolute;
   display: flex;
   justify-content: space-between;
   bottom: 30px;
   right: 30px;
   width: 120px;
}

#game-btns button {
   height: 55px;
   width: 55px;
   background-size: cover;
   opacity: 0;
   pointer-events: none;
   transition: opacity 1s;
}

#game-btns button.show {
   opacity: 1;
   pointer-events: all;
}

#game-btns #help-btn {
   background-image: url("../assets//imgs/help.svg");
}

#game-btns #settings-btn {
   background-image: url("../assets//imgs/settings.svg");
}

#dark-bg {
   background-color: var(--clear-black);
   position: absolute;
   width: 100vw;
   height: 100vh;
   display: none;
}

#dark-bg.show {
   display: block;
}

.card-comp {
   position: fixed;
   bottom: -1000px;
   left: 50%;
   transform: translateX(-50%);
   transition: 0.3s;
   background-color: var(--white);
   border-radius: 4px;
   padding: 25px;
   width: 500px;
   height: 500px;
   display: grid;
}

.card-comp.show {
   bottom: 50%;
   transform: translate(-50%, 50%);
}

.card-comp > h2 {
   font-size: 25px;
   align-self: flex-start;
}

.card-comp > button {
   justify-self: flex-end;
   align-self: flex-start;
}

.card-comp > button:hover svg path {
   fill: var(--light-black);
}

.card-comp > button svg {
   display: block;
}

#help-container {
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto 1fr 25px;
   overflow-x: hidden;
}

#help-container #mode-descriptions {
   grid-column: span 2;
   display: flex;
   gap: 25px;
   transition: 0.4s;
}

#help-container #mode-descriptions .mode-description {
   height: 100%;
   width: 100%;
   flex-shrink: 0;
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.mode-description h3 {
   color: var(--light-black);
   margin-bottom: 50px;
}

.mode-description p {
   color: var(--gray);
   text-align: center;
   line-height: 25px;
}

#help-container #nav-circles {
   grid-column: span 2;
   justify-self: center;
   align-self: flex-end;
   display: flex;
   justify-content: space-between;
   width: 75px;
}

#help-container #nav-circles .nav-btn {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: var(--light-gray);
   display: block;
}

#help-container #nav-circles .nav-btn.selected {
   background-color: var(--light-black);
}

#settings-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto 1fr;
   overflow: hidden;
}

#settings-container #settings {
   grid-column: span 2;
   display: grid;
   grid-template-columns: min-content 1fr;
   margin-top: 20px;
   gap: 15px;
   overflow: hidden;
}

#settings-nav {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding-right: 15px;
   border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#settings-nav button {
   padding: 8px 15px;
   border-radius: 10px;
}

#settings-nav button.selected {
   color: #fff;
   background-color: #000;
}

#settings-nav button.selected:hover {
   color: #fff;
   background-color: #000;
}

#settings-nav button:hover {
   background-color: rgba(0,0,0,0.75);
   color: #fff;
}

#settings-controls {
   overflow-y: auto;
}

#settings-controls > div {
   display: none;
}

#settings-controls div.show {
   display: grid !important;
}

#background-settings {
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

#background-settings .bg-btn {
   aspect-ratio: 1;
   height: auto;
   width: 100%;
   border-radius: 10px;
   position: relative;
}

#background-settings .bg-btn::after {
   display: block;
   content: "";
   position: absolute;
   width: 30px;
   height: 30px;
   background-color: var(--white);
   background-image: url("../assets/imgs/checkmark.png");
   background-position: center;
   background-size: 75%;
   background-repeat: no-repeat;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: opacity 0.2s;
}

.bg-btn:hover::after {
   opacity: 0.65 !important;
}

.bg-btn.selected::after {
   opacity: 1 !important;
}

#audio-settings {
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.audio-section {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.audio-section h3 {
   font-size: 18px;
}

.audio-type {
   display: flex;
   align-items: center;
   gap: 15px;
}

.audio-type h2 {
   font-size: 23px;
}

.toggle-switch {
   height: 23px;
   width: 48px;
   border-radius: 12.5px;
   position: relative;
   background-color: var(--bg1);
   border: 1px solid #eee;
}

.toggle-switch-background {
   background-color: rgb(230, 230, 230);
   position: absolute;
   width: 105%;
   height: 105%;
   border-radius: inherit;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: 0.3s;
}

.toggle-switch .circle {
   background-color: #fff;
   position: absolute;
   height: 19px;
   width: 19px;
   top: 50%;
   left: 2px;
   transform: translateY(-50%);
   border-radius: 50%;
   transition: 0.3s;
}

.toggle-switch.on .toggle-switch-background{
   height: 0;
   width: 0;
}

.toggle-switch.on .circle {
   left: 100%;
   transform: translate(calc(-100% - 2px), -50%);
}

.music-select-container {
   display: flex;
   align-items: center;
   gap: 30px;
}

.select {
   position: relative;
   background-color: rgb(230, 230, 230);
   padding: 10px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 5;
   width: 115px;
}

.select img {
   width: 10px;
   transition: 0.3s;
}

.select.show img {
   transform: rotate(180deg);
}

.select-list {
   position: absolute;
   list-style: none;
   background-color: rgb(230, 230, 230);
   width: 100%;
   left: 0;
   border-radius: 10px;
   top: 10px;
   max-height: 75px;
   overflow-y: auto;
   z-index: 4;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s;
}

.select.show .select-list {
   top: 40px;
   opacity: 1;
   visibility: visible;
}

.select-list li {
   padding: 3px 0;
}

.select-list li:hover {
   color:rgb(80, 80, 80);
}

.volume-container {
   display: flex;
   align-items: center;
   gap: 30px;
}

@media only screen and (max-width: 1270px) {
   #main-menu.grow {
      height: 375px;
   }
   #categories-container .header {
      margin-bottom: 35px;
   }
   #category-selector-container #category-selector {
      margin-bottom: 35px;
   }
   #trivia-container {
      width: 550px;
   }
   #trivia-container #score {
      top: 60px;
      right: 60px;
   }
   #trivia-container #question-container #question {
      font-size: 18px;
   }
   #trivia-container .answers {
      margin-top: 35px;
   }
   #trivia-container #multiple-answers {
      gap: 20px;
   }
   #trivia-container #multiple-answers button {
      padding: 8px;
   }
   #trivia-container #boolean-answers button {
      padding: 25px 0;
   }
   #trivia-container #timer-bar {
      bottom: 40px;
   }
   #game-finish {
      height: 400px;
      grid-template-rows: 300px auto;
   }
   #levels-container #level-grid {
      margin-top: 20px;
      grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
   }
   .card-comp {
      height: 400px;
   }
   #background-settings {
      padding-right: 15px;
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
   }
}